@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left-top {
  0% {
    -webkit-transform: translateY(-200%) translateX(-200%);
    transform: translateY(-200%) translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left-top {
  0% {
    -webkit-transform: translateY(-200%) translateX(-200%);
    transform: translateY(-200%) translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-right-top {
  0% {
    -webkit-transform: translateY(-200%) translateX(200%);
    transform: translateY(-200%) translateX(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right-top {
  0% {
    -webkit-transform: translateY(-200%) translateX(200%);
    transform: translateY(-200%) translateX(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-right-bottom {
  0% {
    -webkit-transform: translateY(200%) translateX(200%);
    transform: translateY(200%) translateX(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right-bottom {
  0% {
    -webkit-transform: translateY(200%) translateX(200%);
    transform: translateY(200%) translateX(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left-bottom {
  0% {
    -webkit-transform: translateY(200%) translateX(-200%);
    transform: translateY(200%) translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left-bottom {
  0% {
    -webkit-transform: translateY(200%) translateX(-200%);
    transform: translateY(200%) translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  font-size: 13px;
  background-color: #ecf2f8;
  padding: 5.4rem 1.85rem;
}

h1 {
  font-size: 1.25rem;
  color: white;
  line-height: 24px;
  font-weight: 600;
  margin: 1rem 0;
}

h3 {
  color: white;
  font-size: 0.81rem;
}

span {
  font-size: 0.68rem;
  opacity: 0.5;
}

p {
  font-size: 0.81rem;
  color: white;
  opacity: 0.7;
  line-height: 18px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "daniel" "jonathan" "jeanette" "patrick " "kira";
  grid-gap: 1.875rem;
  background-color: #ecf2f8;
}
.grid-container .grid-item {
  width: 20rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 1.625rem 2rem;
  -webkit-box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
.grid-container .grid-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.grid-container .grid-item .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid-container .grid-item .person img {
  height: auto;
  max-width: 100%;
  width: 12%;
  border-radius: 50%;
  margin-right: 1rem;
}
.grid-container .text-daniel {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: daniel;
  background-color: #7541c8;
  background-image: url("/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 90% 0;
  -webkit-animation: slide-left-top 0.8s ease-out;
  animation: slide-left-top 0.8s ease-out;
}
.grid-container .text-jonathan {
  grid-row: 3;
  -ms-grid-row: 3;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: jonathan;
  background-color: #48556a;
  -webkit-animation: slide-top 0.8s ease-out;
  animation: slide-top 0.8s ease-out;
}
.grid-container .text-jeanette {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: jeanette;
  background-color: white;
  -webkit-animation: slide-left-bottom 0.8s ease-out;
  animation: slide-left-bottom 0.8s ease-out;
}
.grid-container .text-jeanette h1,
.grid-container .text-jeanette h3,
.grid-container .text-jeanette p {
  color: #48556a;
}
.grid-container .text-patrick {
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: patrick;
  background-color: #19212e;
  -webkit-animation: slide-bottom 0.8s ease-out;
  animation: slide-bottom 0.8s ease-out;
}
.grid-container .text-kira {
  -ms-grid-row: 9;
  grid-row: 9;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: kira;
  background-color: white;
  -webkit-animation: slide-right-top 0.8s ease-out;
  animation: slide-right-top 0.8s ease-out;
}
.grid-container .text-kira h1,
.grid-container .text-kira h3,
.grid-container .text-kira p {
  color: #48556a;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 360px) {
  body {
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 750px) {
  body {
    padding: 3.5rem;
  }

  h1 {
    line-height: 24px;
    margin: 1rem 0;
  }

  p {
    opacity: 0.7;
    line-height: 18px;
  }

  .grid-container {
    grid-template-areas: "daniel  kira" "daniel  kira" "patrick jonathan" "patrick jeanette";
    -ms-grid-rows: 1fr 1.875rem 1fr 1.875rem 1fr 1.875rem 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .grid-container .grid-item {
    width: 100%;
  }
  .grid-container .grid-item .person img {
    width: 28px;
  }

  .text-daniel {
    grid-row: 1/span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  .text-jonathan {
    grid-row: 5;
    -ms-grid-row: 5;
    grid-column: 3;
    -ms-grid-column: 3;
  }

  .text-jeanette {
    grid-row: 7;
    -ms-grid-row: 7;
    grid-column: 3;
    -ms-grid-column: 3;
  }

  .text-patrick {
    grid-row: 5/span 3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  .text-kira {
    grid-row: 1/span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column: 3;
    -ms-grid-column: 3;
  }
}
@media only screen and (min-width: 1250px) {
  body {
    padding: 10.25rem;
  }

  .grid-container {
    grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
    -ms-grid-rows: 1fr 1.875rem 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 70rem;
    margin: 0 auto;
  }
  .grid-container .text-daniel {
    background-position: 80% 0;
  }

  .text-daniel {
    grid-row: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .text-jonathan {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 5;
    -ms-grid-column: 5;
  }

  .text-jeanette {
    grid-row: 3;
    -ms-grid-row: 3;
    grid-column: 1;
    -ms-grid-column: 1;
  }

  .text-patrick {
    grid-row: 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-column: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .text-kira {
    grid-row: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column: 7;
    -ms-grid-column: 7;
  }
}

/*# sourceMappingURL=style.css.map */
